/* src/ExamEnd.css */
.exam-end-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Set the height to 100% of the viewport height */
  }
  
  .exam-end-container h2 {
    color: #007bff;

     /* Set the color to your preference */
  }
  .check-mark {
    width: 100px; /* Adjust the width as needed */
    height: 100px; /* Adjust the height as needed */
  }
  
  .exam-end-container p {
    font-size: 18px; /* Set the font size to your preference */
    color: #009703; /* Set the color to your preference */
  }
  