
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
  font-family: "Montserrat", sans-serif;
}

.exam{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.start-exam-container {

    margin: auto;
    padding: 20px;
    display: flex;
    height: 100vh;
/* Center text and logo */
  }
  .container{
    width: 100%;
  }
  /* .section{
 
  } */
  .logo {
   padding: 100px;
    width: 80%; /* Ensure the logo doesn't exceed its container */
    margin-bottom: 20px;
 /* Make it a block-level element to center with margin: auto */
    margin: 0 auto 20px; /* Center the logo horizontally and add some spacing at the bottom */ /* Add some spacing between the logo and other elements */
  }
  @media(max-width:500px){
    .logo{
      padding: 0px;
    }
  }
  


  